{# Affichage des messages flash "success", "error" ou "warning" #}
{% if app.session.flashBag.has('success') or app.session.flashBag.has('error') or app.session.flashBag.has('warning') %}

    <div class="container-fluid">
        <div class="row">

            {# Message flash de succès #}
            {% for message in app.flashes('success') %}

                <div class="col-11 col-md-10 mt-5 text-center mx-auto alert alert-success" role="alert">
                    {{ message }}

                </div>

            {% endfor %}

            {# Message flash d'erreur #}
            {% for message in app.flashes('error') %}

                <div class="col-12 col-md-10 mt-5 alert text-center mx-auto alert-danger" role="alert">
                    {{ message }}

                </div>

            {% endfor %}

            {# Message flash d'alerte #}
            {% for message in app.flashes('warning') %}

                <div class="col-12 col-md-10 mt-5 alert text-center mx-auto alert-warning" role="alert">
                    {{ message }}

                </div>

            {% endfor %}

        </div>
    </div>

{% endif %}