{# Utilisation du fichier Base #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Liste des publications{% endblock %}

{# Conteneur de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">LISTE DES PUBLICATIONS</h1>
        </div>

        <div class="row">
            <div class="mx-auto">

                <div class="row">

                    {# Boucle pour afficher toutess les publications #}
                    {% for publication in publications %}

                        <div class="card bg-white">
                            <div class="card-header">
                                <div class="p-3 mb-2">
                                    <a class="text-decoration-none" href="…">{{ publication.title }}</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-2">
                                    {{ publication.content|excerpt(25)}}...
                                    <a class=" text-decoration-none " href="…">Lire la suite</a>
                                </div>
                                <footer class="blockquote-footer my-2">Publié le <strong>{{ publication. publicationDate|format_datetime(locale='fr', pattern="EEEE dd MMMM YYYY à HH'h'mm") }}</strong> par <strong>{{ publication.author.pseudonym }}</strong> </footer>
                            </div>
                        </div>

                    {% else %}

                        <div class="row">
                            <p class="col-12 col-md-8 col-lg-7 col-xl-6 col-xxl-5 alert alert-warning text-center mx-auto">Il n'y a aucune publication</p>
                        </div>

                    {% endfor %}

                </div>
            </div>

        </div>

    </div>

{% endblock %}
