{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}


{# Titre de la page #}
{% block title %}Modification d'une publication{% endblock %}


{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

    <div class="row">
        <h1 class="col-12 text-center my-5">Modification d'une publication</h1>
    </div>

    <div class="row">

        {# Affichage du formulaire de modification de publication prérempli par les informations déjà existantes #}
        <div class="card col-11 col-md-10 mx-auto px-5 pt-4">
            {{ form( form ) }}
        </div>

    </div>

    <div class="text-center mt-3">
        <a class="text-decoration-none text-dark" href="{{ path('publication_view', {slug: form.vars.value.slug }) }}"><i class="fa-solid fa-arrow-rotate-left me-1"></i>Revenir sur l'article</a>
    </div>

{% endblock %}