{# Utilisation du fichier Base #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Modifier la photo de profil{% endblock %}

{# Conteneur de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center text-uppercase my-5">Modifier la photo de profil</h1>
        </div>

        {# Affichage du formulaire d'ajout d'une photo #}
        <div class="row">
            <div class="col-11 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-12 my-3 mx-auto"> {{ form(form) }}
                    </div>

                    {# Lien de retour à la page du profil #}
                    <div><a href="{{ path('main_profile') }}" class="text-secondary">Revenir à mon profil</a></div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
