
body{
    background-color: white;
}

.navbar-brand .main-navbar-logo{
    width: 300px;
    margin-left: 50px;
    margin-right: 100px;
}

.navbar{
    background-image: linear-gradient(to right, white, transparent 1000px), url("/../images/banner_picture.jpg");
    background-size: cover;
    background-position: right
}

/* L'item "Mon Compte" qui est un paragraphe, bénéficie d'un curseur "main" comme les autres liens de la navbar */
#my-account-cursor{
    cursor: pointer;
}

/* Menu déroulants au passage du pointeur et taille de police des indications dans les champs de saisie à partir de la disparition du "menu burger" Bootstrap */
@media (min-width: 992px){
    .dropdown:hover > .dropdown-menu{
        display: block;
    }
    ::placeholder {
        font-size: 0.8rem;
    }
}

/* Réduction de taille de police des indications dans les champs de saisie à partir de l'apparition du "menu burger" Bootstrap */
@media (max-width: 992px) {
    ::placeholder {
        font-size: 0.7rem;
    }
}
/* Inclusion de trois points de suspension si les indications dans les champs de saisie sont coupés */
input:placeholder-shown {
    text-overflow: ellipsis;
}
