
/* Polices et couleur de font du site en général */
body{
    font-family: 'Cabin', arial, sans-serif;
    background-color: white;
}

/* Taille et positionnement du logo */
.navbar-brand .main-navbar-logo{
    width: 300px;
    margin-left: 50px;
    margin-right: 100px;
}

/* Taille, alignement et comportement de la transparence de l'image en bandeau */
.navbar{
    background-image: linear-gradient(to right, white, transparent 1000px), url("/../images/banner_picture.jpg");
    background-size: cover;
    background-position: right;
}

/* Les items "Mon Compte" et "Publications" qui sont des paragraphes, bénéficient d'un curseur "main" comme les autres liens de la navbar */
.cursor-pointer{
    cursor: pointer;
}

/* Menu déroulants au passage du pointeur et taille de police des indications dans les champs de saisie à partir de la disparition du "menu burger" Bootstrap */
@media (min-width: 992px){
    .dropdown:hover > .dropdown-menu{
        display: block;
    }

    ::placeholder {
        font-size: 0.8rem;
    }
}

/* Réduction de taille de police des indications dans les champs de saisie à partir de l'apparition du "menu burger" Bootstrap */
@media (max-width: 992px) {
    ::placeholder {
        font-size: 0.7rem;
    }
}
/* Inclusion de trois points de suspension si les indications dans les champs de saisie sont coupés */
input:placeholder-shown {
    text-overflow: ellipsis;
}

/* Menus paginations */
.pagination .page-item .page-link{
    background-color: darkgray;
    color: black;
}

.pagination .page-item.disabled .page-link, .pagination .page-item.active .page-link{
    color: grey;
}

.pagination .page-item a.page-link:hover{
    background-color: slategrey;
}

.page-link{
    padding: 8px;
}

/* Couleur du footer */
Footer section{
    background-color: black;
}

/* Liste à puce des CGU */
.circle{
    list-style-type: circle;
}

.form-check-input{
    border-color: black;
}

/* Masquage d'un bug avec CKEditor */
#cke_1_bottom{
    display: none;
}
