
body{
    background-color: white;
}

.navbar-brand .main-navbar-logo{
    width: 300px;
    margin-left: 50px;
    margin-right: 100px;
}

.navbar{
    background-image: linear-gradient(to right, white, transparent 1000px), url("/../images/bandeau_1.jpg");
    background-size: cover;
    background-position: right
}
