<h1>Réinitialisation de votre mot de passe</h1>

<h2>Bonjour {{ user.pseudonym }}.</h2>

<p>La réinitialisation de votre mot de passe sur le site du Rugby Club du Pays Graylois est à valider en cliquant sur le lien suivant :</p>
<p><a href="{{ url|raw }}" class="text-dark">Valider</a></p>
<p>Ce lien expirera dans 1 heure.</p>
