<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

{#    Balise meta description#}
    <meta name="description" content="Site du Rugby club du pays Graylois, pour découvrir ce dernier, vous informer ou prendre contact avec le club !">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{#    Affichage du titre de page suivi du nom du site#}
    <title>{% block title %}{% endblock %}  - Rugby club du pays Graylois</title>

{#    Block pour le css additionnel#}
    {% block css %}{% endblock %}

</head>
<body>

{#    Block pour le contenu des pages#}
    {% block body %}{% endblock %}

{#    Block pour le js additionnel#}
    {% block js %}{% endblock %}

</body>
</html>