{#  Utilisation du fichier Base #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Erreur 500{% endblock %}

{# block laissé vide pour ne pas faire apparaître de navbar lors du message d'erreur #}
{% block navbar %}{% endblock  %}

{#  Conteneur de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Affichage de l'image d'erreur 500 #}
        <div class="row  my-3">

            <div>
                <p class="h1 text-center mt-5 text-uppercase">Erreur 500, problème de serveur</p>
            </div>

            <div class="col-12 text-center my-4">
                <img src="{{ asset('images/error_500.jpg') }}" alt="Erreur 500, problème de serveur" class=" img-fluid col-6">
            </div>

            <div class="text-center">
                <p class="h3 mb-5">Nous nous efforçons de réparer au plus vite !</p>
                <a class="text-decoration-none text-dark my-4" href="{{ path('main_home') }}"><i class="fa-solid fa-arrow-rotate-left me-1"></i>Retour à l'accueil</a>
            </div>

        </div>

    </div>

{% endblock %}

{# block laissé vide pour ne pas faire apparaître de footer lors du message d'erreur #}
{% block footer %}{% endblock %}
